@charset 'utf-8';

.footer {
  &__menus {
    background: #394449;
    color: #fff;
  }

  &__contents {
    @include block;
    display: flex;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    gap: 2rem;

    @include mq {
      flex-wrap: wrap;
    }
  }

  &__menu {
    flex: 0 0 12rem;

    @include mq {
      flex: 0 0 100%;
    }
  }

  &__menu-heading {
    font-size: 20px;

    @include mq {
      font-size: 17px;
      display: flex;
      align-items: center;

      &::after {
        content: "";
        display: block;
        width: 1.5rem;
        height: 0.75rem;
        margin-left: auto;
        background: url(../img/arrow_down_white.svg) no-repeat center center /
          contain;
        transition: 0.2s;
      }

      &.-active {
        &::after {
          transform: rotate(180deg);
        }
      }
    }
  }

  &__menu-list {
    margin-top: 0.25rem;
  }

  &__menu-item {
    a {
      text-decoration: underline;
      color: $txt-color-white;
    }
  }

  &__navigate {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background: #293134;
    color: $txt-color-white;
    text-align: center;

    @include mq {
      padding-bottom: 8rem;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    gap: 1.5rem;

    @include mq {
      flex-direction: column;
      gap: 1rem;
    }
  }

  &__list-item {
    a {
      color: #fff;
      text-decoration: underline;
    }
  }

  &__copyright {
    margin-top: 0.75rem;
    font-size: 13px;

    @include mq {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
  }
}
