@charset "utf-8";

.account-info-body {
    max-width: 1333px;
    margin: auto;
}

// whitebox Account-information
.account-info-edit {
    background-color: $white-color;
    color: $black-color;
    width: 800px;
    margin: 50px auto 80px 450px;
    padding: 20px;
    border-radius: 20px;
    font-size: 20px;
    font-family: $secondary-family-ie;

    .form-account-info {
        margin-left: 5%;
        margin-right: 10%;

        a {
            text-decoration: underline 1px;
        }

        table {
            width: 100%;
        }

        .account-info-input {

            // TODO: 重複コードあり mypageinfo.scss @shin
            label {
                font-size: 1em;
            }

            .icon-required::after {
                content: "必須";
                border: solid 2px $primary-color;
                color: $primary-color;
                font-size: 0.7em;
                min-width: 10px;
                padding-left: 7px;
                padding-right: 7px;
                padding-bottom: 1px;
                // TODO: 0pxは冗長な記述 @shin
                margin: 0 5px;
                line-height: 1;
                vertical-align: middle;
                white-space: nowrap;
                text-align: center;
                border-radius: 10px;
                display: inline-block;
            }

            input {
                padding: 1em;
                border: solid 0.1px $border-color;
                border-radius: 5px;
                margin: 30px 20%;
                width: auto;
            }

        }
    }

    // TODO: 重複コードあり mypageinfo.scss @shin
    .submit-button {
        color: $white-color;
        text-align: center;

        button {
            font-size: 30px;
            background-color: $primary-color;
            margin-left: 0;
            margin-bottom: 20px;
            padding: 20px 20%;
            border-radius: 20px;
        }

        button:hover {
            background-color: $primary-h-color;
        }
    }

    .backtologin {
        color: $border-color;
        font-size: 0.8em;
        text-align: center;
        margin-bottom: 20px;
    }
}

// accordion-menu
.accordion-menu {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
    font-family: $secondary-family-ie;

    &__area {
        display: block;
        width: 400px;

        .accordion-item {
            width: 100%;

            dt {
                display: flex;
                justify-content: space-between;
                border: solid 2px $border-color;
                padding: 10px;
                font-size: 1.5em;
                color: $black-color;
                cursor: pointer;

                img {
                    width: 30px;
                }

                &::after {
                    content: "";
                    display: block;
                    width: 2rem;
                    height: 1rem;
                    margin-top: 0.8rem;
                    margin-left: auto;
                    background: url(../img/arrow_down_red.svg) no-repeat center center / contain;
                    transition: 0.2s;
                }

                &.-active {
                    color: $primary-color;

                    &::after {
                        transform: rotate(180deg);
                    }
                }
            }

            .register-base-bottom {
                border-top: none;
            }

            .resister-base-contents {
                border-right: solid 2px $border-color;
                border-left: solid 2px $border-color;
                border-top: none;
                border-bottom: solid 2px $border-color;
            }
        }

    }

    @include mq(tab) {
        justify-content: center;
        width: 80%;
        margin: 0 auto 30px auto;
    }
    @include mq(sp){
        width: 90%;
    }
}

// check-box settings
.agreement {
    font-size: 0.8em;
    text-align: center;
    margin-bottom: 30px;

    @include mq(tab) {
        margin-top: 30px;
    }
}

.agree-checkbox {
    display: none;
}

.agree-checkbox+span {
    cursor: pointer;
    display: inline-block;
    margin: 0 1.2em 0;
    padding: 0 0 0 1.2em;
    position: relative;
    color: $border-color;

    br {
        display: none;

        @include mq(sp) {
            display: inline;
        }
    }
}

// TODO: 重複コードあり userspecialities.scss @shin
.agree-checkbox+span::before {
    -webkit-transform: translateY(-50%);
    background: $white-color;
    border: 1px solid $border-color;
    border-radius: 2px;
    content: "";
    display: block;
    height: 1.5em;
    left: 0;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    width: 1.5em;
    font-size: 0.5em;

    @include mq(tab) {
        width: 2.5em;
        height: 2.5em;
        left: -1em;
    }

    @include mq(sp) {
        left: -3em;
    }
}

// TODO: 重複コードあり userspecialities.scss @shin
.agree-checkbox+span::after {
    -webkit-transform: translateY(-50%) rotate(-45deg);
    border-bottom: 3px solid $primary-color;
    border-left: 3px solid $primary-color;
    content: "";
    display: block;
    height: 0.3em;
    left: 0;
    top: 50%;
    margin-top: -0.2em;
    opacity: 0;
    position: absolute;
    transform: translateY(-50%) rotate(-45deg);
    transition: all 0.3s ease 0s;
    width: 1em;

    @include mq(tab) {
        left: -0.5em;
        width: 1.5em;
    }

    @include mq(sp) {
        left: -1.5em;
    }
}

.agree-checkbox:checked+span::after {
    opacity: 1;
}

// tablet settings
@include mq(tab) {
    // whitebox info
    .account-info-edit {
        // TODO 省略可能 @shin
        margin-top: 10px;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 30px;
        padding: 5px 1%;
        border-radius: 30px;
        font-size: 15px;
        width: auto;

        .form-account-info {
            margin-left: 5%;
            margin-right: 5%;

            .account-info-input {
                label {
                    font-size: 1em;
                }

                // .icon-required {
                //     width: 100px;
                // }

                .icon-required::after {
                    content: "必須";
                    border: solid 1px $primary-color;
                    color: $primary-color;
                    min-width: 5px;
                    padding: 1px 3px 3px 3px;
                    // TODO: 0pxは冗長な記述 @shin
                    // TODO: プロパティが重複してる @shin
                    margin: 0px 2px 4px 2px;
                    line-height: 1;
                    vertical-align: middle;
                    white-space: nowrap;
                    text-align: center;
                    border-radius: 10px;
                    display: inline-block;
                    margin-right: 10px;
                }

                input {
                    padding: 0.3em;
                    border: solid 1px $border-color;
                    border-radius: 5px;
                    margin: 10px 5%;
                    width: 300px;
                }
            }
        }

        .submit-button {
            color: $white-color;
            text-align: center;

            button {
                font-size: 20px;
                margin-left: 0;
                margin-bottom: 20px;
                padding: 20px 20%;
            }
        }

    }
}


//smartphone settings
@include mq(sp) {

    // whitebox info
    .account-info-edit {
        // TODO 省略可能 @shin
        margin-top: 10px;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 20px;
        padding: 5px 1%;
        border-radius: 10px;
        font-size: 15px;

        .form-account-info {
            margin-left: 5%;
            margin-right: 5%;
            width: auto;


            table{
                table-layout: fixed;
                width: 100%;
            }
            td.label{
                width: 30%;
            }
            td.label-input{
                width: 70%;
            }

            .account-info-input {
                label {
                    font-size: 1em;
                }

                // .icon-required {

                // }

                .icon-required::after {
                    content: "*";
                    border: 0;
                    color: $primary-color;
                    font-size: 0.8em;
                    min-width: 5px;
                    padding: 0;
                    // TODO: 0pxは冗長な記述 @shin
                    margin: 0 0 10px 0;
                    line-height: 1;
                    vertical-align: middle;
                    white-space: nowrap;
                    text-align: center;
                    display: inline-block;
                }

                input {
                    padding: 0.3em;
                    border: solid 1px $border-color;
                    border-radius: 5px;
                    margin: 10px 5%;
                    font-size: 1em;
                    width: 90%;
                    height: 23px;
                }
            }
        }

        .submit-button {
            color: $white-color;
            text-align: center;

            button {
                font-size: 20px;
                margin-left: 0;
                margin-bottom: 20px;
                padding: 20px 20%;
            }
        }

    }

    .accountAgreement {
        text-align: center;
        color: $border-color;
        margin-bottom: 50px;
        margin-top: 50px;
        font-size: 1em;
    }

    input.accountAgreement-checkbox {
        border: solid $border-color;
        border-radius: 2px;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }
}

//  step 2 edit//


.user-resume-body-edit{
    width: 100%;
    font-family: $secondary-family-ie;
}

textarea {
    resize: none;
}

.steps-top-right {
    display: flex;
    justify-content: flex-end;
    margin: auto;
    max-width: 1333px;

    .steps-contents {
        text-align: center;
        font-size: 25px
    }

    ul {
        display: flex;
        margin-top: 60px;
        column-gap: 25px;
        color: $black-color;

        span {
            color: $primary-color;
        }
    }

    p {
        background-color: $border-color;
        color: $white-color;
        border-radius: 30px;
        padding: 5px 15px;
        letter-spacing: 0.2em;
    }

    .current-step {
        background-color: $primary-color;
    }
}

.user-resume-title {
    margin: auto;
    max-width: 1333px;
    color: $black-color;
    font-size: 35px;
}

.user-resume-whitebox {
    background-color: $white-color;
    border-radius: 20px;
    margin: 20px auto 100px auto;
    max-width: 1333px;
    padding: 50px;

    .user-resume-contents {
        margin-left: 5%;
        margin-right: 5%;
        color: $black-color;

        //personal-info

        .personal-info {
            font-size: 25px;

            .personal-info-title {
                border-bottom: solid $border-color;
                margin-bottom: 20px;
            }

            .personal-info-contents {
                display: flex;

                &__image {
                    .image-area {
                        color: $black-color;
                        width: 250px;
                        height: 300px;
                        background-color: #e8e8e8;
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .camera-icon {
                            width: 50px;
                            height: 50px;
                        }

                        img {
                            text-align: center;
                            width: 250px;
                            height: 300px;
                            object-fit: cover;
                            position: absolute;
                        }

                        input {
                            overflow: hidden;
                            position: absolute;
                            width: 250px;
                            height: 300px;
                            opacity: 0;
                            z-index: 10;
                        }
                    }

                    p {
                        color: $border-color;
                        font-size: 0.6em;
                    }

                    @include mq {
                        .image-area {
                            margin: auto;

                            img {
                                margin: auto;
                            }

                            input {
                                margin: auto;
                            }
                        }

                        p {
                            text-align: center;
                        }
                    }
                }

                &__bottom {
                    font-size: 0.9em;
                    margin-left: 10%;

                    p {
                        textarea {
                            border-radius: 5px;
                            font-size: 0.8em;
                            padding: 10px 5px;
                        }

                        input {
                            border-radius: 5px;
                            font-size: 0.8em;
                            padding: 10px 5px;
                        }
                    }

                    // TODO: 重複コードあり userresume.scss @shin
                    @include mq(tab) {
                        margin-left: auto;

                        p {
                            margin-bottom: 15px;

                            textarea {
                                border: solid 2px $border-color;
                                border-radius: 5px;
                                padding: 10px 5px;
                                width: 100%;
                            }

                            input {
                                border: solid 2px $border-color;
                                border-radius: 5px;
                                padding: 10px 5px;
                                width: 100%;
                            }
                        }
                    }

                    @include mq(sp) {
                        margin-left: auto;

                        p {
                            margin-bottom: 15px;

                            textarea {
                                border: solid 2px $border-color;
                                border-radius: 5px;
                                padding: 10px 5px;
                                width: 100%;
                            }

                            input {
                                border: solid 2px $border-color;
                                border-radius: 5px;
                                padding: 10px 5px;
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }

        //profile

        .profile {
            font-size: 25px;
        }

        .profile-top {
            border-bottom: solid $border-color;
        }

        .profile-bottom {
            margin-top: 20px;
            margin-bottom: 20px;
            height: 100px;

            textarea {
                padding: 10px 5px;
                border: 2px solid $border-color;
                border-radius: 5px;
                font-size: 0.8em;
                width: 100%;
            }
        }

        //experience
        .experience {
            font-size: 25px;
        }

        .experience-top {
            border-bottom: solid $border-color;
            display: flex;
            justify-content: space-between;

            button {
                cursor: pointer;

                img {
                    width: 40px;
                }
            }
        }

        ul {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            margin-bottom: 20px;
            width: 100%;
            font-size: 0.8em;

            li {
                text-align: center;
                display: block;

                input[type="date"] {
                    border: solid 2px $border-color;
                    border-radius: 5px;
                    box-sizing: border-box;
                    padding: 10px 5px;
                    font-size: 0.9em;
                }

                input[type="text"] {
                    border: solid 2px $border-color;
                    border-radius: 5px;
                    box-sizing: border-box;
                    padding: 10px 5px;
                    width: 250px;
                    font-size: 0.9em;
                }
            }

            @include mq {
                flex-wrap: wrap;
                justify-content: space-around;

                li {
                    input {
                        width: 100%;
                    }
                }
            }
        }

        .experience-note {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 50px;
            font-size: 0.8em;

            textarea {
                border: 2px solid $border-color;
                border-radius: 5px;
                width: 65%;
                padding: 10px 5px;
                font-size: 0.8em;
            }

            @include mq {
                justify-content: center;

                textarea {
                    width: 100%;
                }
            }
        }

        //education

        .education {
            font-size: 25px;
        }

        .education-top {
            border-bottom: solid $border-color;
            display: flex;
            border-bottom: solid $border-color;
            justify-content: space-between;

            button {
                cursor: pointer;

                img {
                    width: 40px;
                }
            }
        }

        ul {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            margin-bottom: 50px;
            width: 100%;
            font-size: 0.8em;

            li {
                text-align: center;
                display: block;

                input[type="date"] {
                    border: solid 2px $border-color;
                    border-radius: 5px;
                    box-sizing: border-box;
                    padding: 10px 5px;
                    font-size: 0.9em;
                }

                input[type="text"] {
                    border: solid 2px $border-color;
                    border-radius: 5px;
                    box-sizing: border-box;
                    padding: 10px 5px;
                    ;
                    font-size: 0.9em;
                    width: 200px;
                }

                input[type="radio"] {
                    &+label::after {
                        display: block;
                        margin: 0.8rem auto;
                        content: "";
                        border: solid 2px $border-color;
                        border-radius: 20%;
                        width: 1em;
                        height: 1em;
                    }

                    &:checked+label::after {
                        content: "";
                        background-color: $txt-color;
                        width: 1em;
                        height: 1em;
                        transition: 0.3s;
                    }
                }
            }

            @include mq {
                flex-wrap: wrap;
                justify-content: space-around;
            }
        }


        //license

        .license {
            width: auto;
            font-size: 25px;

            .license-top {
                display: flex;
                border-bottom: solid $border-color;
                justify-content: space-between;

                button {
                    cursor: pointer;

                    img {
                        width: 40px;
                    }
                }
            }

            .license-contents {
                margin-top: 20px;
                margin-bottom: 20px;

                .license-contents-area {
                    input {
                        margin-bottom: 5px;
                        margin-top: 5px;
                        border: 2px solid $border-color;
                        border-radius: 5px;
                        padding: 10px 5px;
                        font-size: 0.8em;
                        width: 100%;
                        display: block;
                    }
                }
            }
        }

        //hobby

        .hobby {
            font-size: 25px;
        }

        .hobby-top {
            border-bottom: solid $border-color;
        }

        .hobby-bottom {
            margin-top: 20px;
            margin-bottom: 50px;

            textarea {
                padding-left: 10px;
                padding-right: 10px;
                height: 100px;
                border: 2px solid $border-color;
                border-radius: 5px;
                font-size: 0.8em;
                width: 100%;
            }
        }
    }
}

.delete-icon {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    &.-disabled {
        display: none;
    }

    img {
        width: 40px;
    }
}

// submit button
.info-submit {
    margin-top: 100px;
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    width: 100%;
    text-align: center;

    .button-bottom {
        width: 50%;
        border-radius: 20px;
        color: $white-color;
        background-color: $fourth-color;
        height: 80px;
        line-height: 80px;
    }

    button:hover {
        background-color: $fourth-h-color;
    }

    a.button-bottom {
        background-color: $txt-color;
    }

    a.button-bottom:hover {
        background-color: $third-color;
    }

    @include mq(tab) {
        margin-top: 30px;
        margin-bottom: 30px;
        display: block;
        flex-direction: column;

        .button-bottom {
            width: 100%;
            border-radius: 10px;
            height: 50px;
            line-height: 50px;
            margin-bottom: 30px;
        }

        a.button-bottom {
            display: block;
        }
    }

    @include mq(sp) {
        margin-top: 20px;
        margin-bottom: 20px;

        .button-bottom {
            height: 40px;
            line-height: 40px;
            margin-bottom: 20px;
        }
    }
}

// tablet settings

@include mq(tab) {
    .steps-top-right {
        display: flex;
        justify-content: center;
        margin-left: 10%;
        margin-right: 10%;

        .steps-contents {
            justify-content: center;
            text-align: center;
            font-size: 25px
        }

        ul {
            display: flex;
            justify-content: center;
            margin-top: 40px;
            column-gap: 5px;
            color: $black-color;

            li {
                justify-content: center;
            }

            span {
                color: $primary-color;
            }
        }

        p {
            background-color: $border-color;
            color: $white-color;
            border-radius: 30px;
            padding: 5px 15px;
            letter-spacing: 0.2em;
        }

        .current-step {
            background-color: $primary-color;
        }
    }

    .user-resume-title {
        margin-left: 10%;
        margin-top: 20px;
        color: $black-color;
        font-size: 20px;
    }

    .user-resume-whitebox {
        background-color: $white-color;
        border-radius: 20px;
        // TODO 省略可能 @shin
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 20px;
        margin-bottom: 30px;
        padding: 10px;

        .user-resume-contents {
            margin-left: 5%;
            margin-right: 5%;
            color: $black-color;
            font-size: 15px;

            .personal-info {
                .personal-info-title {
                    border-bottom: solid $border-color;
                    margin-bottom: 20px;
                }

                .personal-info-contents {
                    display: block;

                    &__image {
                        margin: auto;

                        img {
                            display: flex;
                            margin: auto;
                            width: 250px;
                            height: 300px;
                            object-fit: cover;
                        }

                        input {
                            margin: auto;
                        }

                        p {
                            margin: auto;
                            font-size: 0.9em;
                        }
                    }
                }
            }

            // TODO: 重複コードあり userresume.scss @shin
            .profile-top {
                border-bottom: solid $border-color;
            }

            .profile-bottom {
                margin-top: 10px;
                margin-bottom: 10px;

                textarea {
                    padding-left: 10px;
                    padding-right: 10px;
                    border: 2px solid $border-color;
                    border-radius: 5px;
                    width: 100%;
                }
            }

            .license-top {
                border-bottom: solid $border-color;
            }

            .license-bottom {
                margin-top: 20px;
                margin-bottom: 40px;

                input {
                    margin-bottom: 20px;
                    border: 2px solid $border-color;
                    border-radius: 5px;
                    padding: 10px 5px;
                    width: 100%;
                }
            }

            .hobby-top {
                border-bottom: solid $border-color;
            }

            .hobby-bottom {
                margin-top: 20px;
                margin-bottom: 50px;

                textarea {
                    padding-left: 10px;
                    padding-right: 10px;
                    height: 100px;
                    border: 2px solid $border-color;
                    border-radius: 5px;
                    width: 100%;
                }
            }
        }
    }
}

//smartphone settings

@include mq(sp) {
    .steps-top-right {
        display: flex;
        justify-content: center;
        margin-left: 10%;
        margin-right: 10%;

        .steps-contents {
            justify-content: center;
            text-align: center;
            font-size: 25px
        }

        ul {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-top: 40px;
            column-gap: 25px;
            color: $black-color;

            li {
                justify-content: center;
            }

            span {
                color: $primary-color;
            }
        }

        p {
            background-color: $border-color;
            color: $white-color;
            border-radius: 30px;
            padding: 5px 15px;
            letter-spacing: 0.2em;
        }

        .current-step {
            background-color: $primary-color;
        }
    }

    .user-resume-title {
        margin-left: 5%;
        margin-top: 20px;
        color: $black-color;
        font-size: 20px;
    }

    .user-resume-whitebox {
        background-color: $white-color;
        border-radius: 20px;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 10px;

        .user-resume-contents {
            margin-left: 5%;
            margin-right: 5%;
            color: $black-color;
            font-size: 15px;

            .personal-info {
                .personal-info-title {
                    border-bottom: solid $border-color;
                    margin-bottom: 20px;
                }

                .personal-info-contents {
                    display: block;

                    &__bottom {
                        margin-top: 20px;

                        p {
                            margin-bottom: 20px;

                            textarea {
                                border-radius: 3px;
                                width: 100%;
                            }

                            input {
                                border-radius: 3px;
                                width: 100%;
                            }
                        }
                    }
                }
            }

            //noinspection ALL
            .profile-top {
                border-bottom: solid $border-color;
            }

            .profile-bottom {
                margin-top: 10px;
                margin-bottom: 10px;

                textarea {
                    padding-left: 10px;
                    padding-right: 10px;
                    border: 2px solid $border-color;
                    border-radius: 5px;
                    width: 100%;
                }
            }

            .license-top {
                border-bottom: solid $border-color;
            }

            .license-bottom {
                margin-top: 20px;
                margin-bottom: 40px;

                input {
                    margin-bottom: 20px;
                    border: 2px solid $border-color;
                    border-radius: 5px;
                    padding: 10px 5px;
                    width: 100%;
                }
            }

            .hobby-top {
                border-bottom: solid $border-color;
            }

            .hobby-bottom {
                margin-top: 20px;
                margin-bottom: 50px;

                textarea {
                    padding-left: 10px;
                    padding-right: 10px;
                    height: 100px;
                    border: 2px solid $border-color;
                    border-radius: 5px;
                    width: 100%;
                }
            }
        }
    }
}