@charset "utf-8";

.confirm-body {
    max-width: 1333px;
    margin: auto;
    font-family: $secondary-family-ie;
}

.confirm-body-box {
    font-family: $secondary-family-ie;
    background-color: $white-color;
    border-bottom: 10px solid $primary-color;
    width: 800px;
    margin: 0 auto 180px auto;


    @include mq(tab) {
        // TODO 省略可能 @shin
        margin-top: 50px;
        margin-left: 15%;
        margin-right: 15%;
        padding: 20px 5%;
        font-size: 15px;
        margin-bottom: 20px;
    }

    @include mq(sp) {
        width: auto;
        border-bottom: 5px solid $primary-color;
        margin: 0 5% 50px 5%;
    }
}

.confirm-body-title {
    text-align: center;
    padding-top: 35px;
    padding-bottom: 15px;
    font-size: 30px;
    color: $black-color;

    @include mq(tab) {
        padding-top: 20px;
        padding-bottom: 10px;
    }

    @include mq(sp) {
        padding-top: 20px;
        padding-bottom: 10px;
        font-size: 25px;
    }

}

.confirm-body-input {
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;


    tr {
        td {
            label {
                color: $black-color;
            }

            input {
                border: solid 1px $border-color;
                border-radius: 5px;
                color: $black-color;
                padding: 10px 0.5rem;
                margin: 10px 5px;
                width: 370px;
            }
        }
    }

    @include mq(tab) {
        width: 500px;
        margin: 0 auto 100px auto;

    }

    @include mq(sp) {
        font-size: 15px;
        margin-left: 5%;
        margin-right: 5%;

        tr {
            td {
                label {
                    font-size: 0.7em;
                    color: $black-color;
                    margin-right: 1rem;
                }

                input {
                    border: solid 1px $border-color;
                    border-radius: 5px;
                    padding: 5px 0.5rem;
                    margin: 5px 10px;
                    width: 40%;
                }
            }
        }
    }
}

.reset-password {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;

    .reset-button {
        background-color: $primary-color;
        color: $white-color;
        font-size: 1.5em;
        border-radius: 5px;
        padding: 10px 70px;
    }

    .reset-button:hover {
        background-color: $primary-h-color;
    }
}