@charset "utf-8";

//TODO :formを増やせるように
//TODO :日付入力、年月のみに
//TODO :ドラッグアンドドロップできるように

.user-resume-body{
    width: 100%;
    font-family: $secondary-family-ie;
}

textarea{
    resize: none;
}

.steps-top-right{
    display: flex;
    justify-content: flex-end;
    margin: auto;
    max-width: 1333px;
    .steps-contents{
        text-align: center;
        font-size: 25px
    }
    ul{
        display: flex;
        margin-top: 60px;
        column-gap: 25px;
        color: $black-color;
        span{
            color: $primary-color;
        }
    }
    p{
        background-color: $border-color;
        color: $white-color;
        border-radius: 30px;
        padding: 5px 15px;
        letter-spacing: 0.2em;
    }
    .current-step{
        background-color: $primary-color;
    }
}
.user-resume-title{
    margin: auto;
    max-width: 1333px;
    color: $black-color;
    font-size: 35px;
}
.user-resume-whitebox{
    background-color: $white-color;
    border-radius: 20px;
    margin: 20px auto 100px auto;
    max-width: 1333px;
    padding: 50px;
    .user-resume-contents{
        margin-left: 5%;
        margin-right: 5%;
        color: $black-color;
        font-size: 25px;

        //personal-info

        .personal-info{
            .personal-info-title{
                border-bottom: solid $border-color;
                margin-bottom: 20px;
            } 
            .personal-info-contents{
                display: flex;
                &__image{
                    .image-area{
                        width: 250px;
                        height: 300px;
                        img{
                            display: flex;
                            width: 250px;
                            height: 300px;
                            object-fit: cover;
                            position: absolute;
                        }
                        input{
                            overflow: hidden;
                            position: absolute;
                            width: 250px;
                            height: 300px;
                            opacity: 0;
                        }
                    }
                    p{
                        color: $border-color;
                        font-size: 0.6em;
                    }
                    @include mq {
                        .image-area{
                            margin: auto;
                            img{
                                margin: auto;
                            }
                            input{
                                margin: auto;
                            }
                        }
                        p{
                            text-align: center;
                        }
                    }
                }
                &__bottom{
                    font-size: 0.9em;
                    margin-left: 10%;
                    p{
                        textarea{
                            border-radius: 5px;
                            font-size: 0.8em;
                            padding: 10px 5px;
                        }
                        input{
                            border-radius: 5px;
                            font-size: 0.8em;
                            padding: 10px 5px;
                        }
                    }
                    // TODO: 重複コードあり userresume.scss @shin
                    @include mq(tab){
                        margin-left: auto;
                        p{
                            margin-bottom: 15px;
                            textarea{
                                border: solid 2px $border-color;
                                border-radius: 5px;
                                padding: 10px 5px;
                                width: 100%;
                            }
                            input{
                                border: solid 2px $border-color;
                                border-radius: 5px;
                                padding: 10px 5px;
                                width: 100%;
                            }
                        }
                    }
                    @include mq(sp){
                        margin-left: auto;
                        p{
                            margin-bottom: 15px;
                            textarea{
                                border: solid 2px $border-color;
                                border-radius: 5px;
                                padding: 10px 5px;
                                width: 100%;
                            }
                            input{
                                border: solid 2px $border-color;
                                border-radius: 5px;
                                padding: 10px 5px;
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }

        //profile

        .profile-top{
            border-bottom: solid $border-color;
        }
        
        .profile-bottom{
            margin-top: 20px;
            margin-bottom: 20px;
            height: 100px;
            textarea{
                padding: 10px 5px;
                border: 2px solid $border-color;
                border-radius: 5px;
                font-size: 0.8em;
                width: 100%;
            }
        }
        //experience
        .experience-top{
            border-bottom: solid $border-color;
        }
        
        .experience-contents{
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            margin-bottom: 20px;
            width: 100%;
            font-size: 0.8em;
            li{
                text-align: center;
                display: block;
                input[type="date"]{
                    border: solid 2px $border-color;
                    border-radius: 5px;
                    box-sizing: border-box;
                    padding: 10px 5px;
                    font-size: 0.9em;
                }
                input[type="text"]{
                    border: solid 2px $border-color;
                    border-radius: 5px;
                    box-sizing: border-box;
                    padding: 10px 5px;
                    width: 250px;
                    font-size: 0.9em;
                }
            }
            @include mq {
                flex-wrap: wrap;
                justify-content: space-around;
                li{
                    input{
                        width: 100%;
                    }
                }
            }
        }
        .experience-note{
            display: flex;
            justify-content: flex-end;
            margin-bottom: 50px;
            font-size: 0.8em;
            textarea{
                border: 2px solid $border-color;
                border-radius: 5px;
                width: 65%;
                padding: 10px 5px;
                font-size: 0.8em;
            }
            @include mq {
                justify-content: center;
                textarea{
                    width: 100%;
                }
            }
        }

        //education

        .education-top{
            border-bottom: solid $border-color;
        }
        .education-contents{
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            margin-bottom: 50px;
            width: 100%;
            font-size: 0.8em;
            li{
                text-align: center;
                display: block;
                input[type="date"]{
                    border: solid 2px $border-color;
                    border-radius: 5px;
                    box-sizing: border-box;
                    padding: 10px 5px;
                    font-size: 0.9em;
                }
                input[type="text"]{
                    border: solid 2px $border-color;
                    border-radius: 5px;
                    box-sizing: border-box;
                    padding: 10px 5px;;
                    font-size: 0.9em;
                    width: 200px;
                }
                input[type="radio"]{
                    & + label::after{
                        display: block;
                        margin: 0.8rem auto;
                        content: "";
                        border: solid 2px $border-color;
                        border-radius: 20%;
                        width: 1em;
                        height: 1em;
                    }
                    &:checked + label::after{
                        content: "";
                        background-color: $txt-color;
                        width: 1em;
                        height: 1em;
                        transition:0.3s;
                    }
                }
            }
            @include mq {
                flex-wrap: wrap;
                justify-content: space-around;
            }
        }


        //license

        .license{
            width: auto;
            .license-top{
                display: flex;
                border-bottom: solid $border-color;
                justify-content: space-between;
                button{
                    cursor: pointer;
                    img{
                        width: 1em;
                    }
                }
            }
            .license-contents{
                margin-top: 20px;
                margin-bottom: 50px;
                input{
                    margin-bottom: 10px;
                    border: 2px solid $border-color;
                    border-radius: 5px;
                    padding: 10px 5px;
                    font-size: 0.8em;
                    width: 100%;
                    display: block;
                }
                button{
                    margin-top: -22px;
                }
            }
        }

        //hobby

        .hobby-top{
            border-bottom: solid $border-color;
        }
        .hobby-bottom{
            margin-top: 20px;
            margin-bottom: 50px;
            textarea{
                padding-left: 10px;
                padding-right: 10px;
                height: 100px;
                border: 2px solid $border-color;
                border-radius: 5px;
                font-size: 0.8em;
                width: 100%;
            }
        }
    }
}

.delete-icon{
    display: flex;
    justify-content: flex-end;
}

// submit button
.info-submit{
    margin-top: 100px;
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    width: 100%;
    button{
        width: 50%;
        border-radius: 20px;
        color: $white-color;
        background-color: $fourth-color;
        height: 80px;
        a{
            color: $white-color;
        }
    }
    button:hover{
        background-color: $fourth-h-color;
    }
    button.backtoprevious{
        background-color: $txt-color;
    }
    button.backtoprevious:hover{
        background-color: $third-color;
    }
    @include mq(tab){
        margin-top: 10px;
        margin-bottom: 20px;
        display: block;
        flex-direction: column;
        width: 100%;
        button{
            margin-bottom: 1rem;
            width: 100%;
            border-radius: 10px;
            background-color: $fourth-color;
            height: 50px;
        }
        button:hover{
            color: $white-color;
            background-color: $fourth-h-color;
        }
    }
    @include mq(sp){
        margin-top: 10px;
        display: block;
        gap: 20px;
        width: 100%;
        button{
            width: 100%;
            border-radius: 10px;
            height: 50px;
        }
    }
}

// tablet settings

@include mq(tab){
    .steps-top-right{
        display: flex;
        justify-content: center;
        margin-left: 10%;
        margin-right: 10%;
        .steps-contents{
            justify-content: center;
            text-align: center;
            font-size: 25px
        }
        ul{
            display: flex;
            justify-content: center;
            margin-top: 40px;
            column-gap: 5px;
            color: $black-color;
            li{
                justify-content: center;
            }
            span{
                color: $primary-color;
            }
        }
        p{
            background-color: $border-color;
            color: $white-color;
            border-radius: 30px;
            padding: 5px 15px;
            letter-spacing: 0.2em;
        }
        .current-step{
            background-color: $primary-color;
        }
    }
    .user-resume-title{
        margin-left: 10%;
        margin-top: 20px;
        color: $black-color;
        font-size: 20px;
    }
    .user-resume-whitebox{
        background-color: $white-color;
        border-radius: 20px;
        // TODO 省略可能 @shin
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 20px; 
        margin-bottom: 30px;
        padding: 10px;
        .user-resume-contents{
            margin-left: 5%;
            margin-right: 5%;
            color: $black-color;
            font-size: 15px;
            .personal-info{
                .personal-info-title{
                    border-bottom: solid $border-color;
                    margin-bottom: 20px;
                } 
                .personal-info-contents{
                    display: block;
                    &__image{
                        margin: auto;
                        img{
                            display: flex;
                            margin: auto;
                            width: 250px;
                            height: 300px;
                            object-fit: cover;
                            border: 2px solid $border-color;
                        }
                        input{
                            margin: auto;
                        }
                        p{
                            margin: auto;
                            font-size: 0.9em;
                        }
                    }
                }
            }
            // TODO: 重複コードあり userresume.scss @shin
            .profile-top{
                border-bottom: solid $border-color;
            }
            .profile-bottom{
                margin-top: 10px;
                margin-bottom: 10px;
                textarea{
                    padding-left: 10px;
                    padding-right: 10px;
                    border: 2px solid $border-color;
                    border-radius: 5px;
                    width: 100%;
                }
            }
            .license-top{
                border-bottom: solid $border-color;
            }
            .license-bottom{
                margin-top: 20px;
                margin-bottom: 40px;
                input{
                    margin-bottom: 20px;
                    border: 2px solid $border-color;
                    border-radius: 5px;
                    padding: 10px 5px;
                    width: 100%;
                }
            }
            .hobby-top{
                border-bottom: solid $border-color;
            }
            .hobby-bottom{
                margin-top: 20px;
                margin-bottom: 50px;
                textarea{
                    padding-left: 10px;
                    padding-right: 10px;
                    height: 100px;
                    border: 2px solid $border-color;
                    border-radius: 5px;
                    width: 100%;
                }
            }
        }
    }
}

//smartphone settings

@include mq(sp){
    .steps-top-right{
        display: flex;
        justify-content: center;
        margin-left: 10%;
        margin-right: 10%;
        .steps-contents{
            justify-content: center;
            text-align: center;
            font-size: 25px
        }
        ul{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-top: 40px;
            column-gap: 25px;
            color: $black-color;
            li{
                justify-content: center;
            }
            span{
                color: $primary-color;
            }
        }
        p{
            background-color: $border-color;
            color: $white-color;
            border-radius: 30px;
            padding: 5px 15px;
            letter-spacing: 0.2em;
        }
        .current-step{
            background-color: $primary-color;
        }
    }
    .user-resume-title{
        margin-left: 5%;
        margin-top: 20px;
        color: $black-color;
        font-size: 20px;
    }
    .user-resume-whitebox{
        background-color: $white-color;
        border-radius: 20px;
        // TODO 省略可能 @shin
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 20px; 
        margin-bottom: 20px;
        padding: 10px;
        .user-resume-contents{
            margin-left: 5%;
            margin-right: 5%;
            color: $black-color;
            font-size: 15px;
            .personal-info{
                .personal-info-title{
                    border-bottom: solid $border-color;
                    margin-bottom: 20px;
                } 
                .personal-info-contents{
                    display: block;
                    &__bottom{
                        margin-top: 20px;
                        p{
                            margin-bottom: 20px;
                            textarea{
                                border-radius: 3px;
                                width: 100%;
                            }
                            input{
                                border-radius: 3px;
                                width: 100%;
                            }
                        }
                    }
                }
            }

            //noinspection ALL
            .profile-top{
                border-bottom: solid $border-color;
            }
            .profile-bottom{
                margin-top: 10px;
                margin-bottom: 10px;
                textarea{
                    padding-left: 10px;
                    padding-right: 10px;
                    border: 2px solid $border-color;
                    border-radius: 5px;
                    width: 100%;
                }
            }
            .license-top{
                border-bottom: solid $border-color;
            }
            .license-bottom{
                margin-top: 20px;
                margin-bottom: 40px;
                input{
                    margin-bottom: 20px;
                    border: 2px solid $border-color;
                    border-radius: 5px;
                    padding: 10px 5px;
                    width: 100%;
                }
            }
            .hobby-top{
                border-bottom: solid $border-color;
            }
            .hobby-bottom{
                margin-top: 20px;
                margin-bottom: 50px;
                textarea{
                    padding-left: 10px;
                    padding-right: 10px;
                    height: 100px;
                    border: 2px solid $border-color;
                    border-radius: 5px;
                    width: 100%;
                }
            }
        }
    }
}