@charset 'utf-8';

.m2-logo{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 40px;
    img{
        width: 120px;
    }
}

.login-complete{
    text-align: center;
    font-family: $secondary-family-ie;
    color: $black-color;
    margin-bottom: 300px;
    p{
        font-size: 30px;
    }
    a{
        color: $black-color;
        font-size: 20px;
        text-decoration: underline 2px;
    }
}